html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: inherit;
}

body {
    height: 100%;
    background-color: #020A18;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

.wrapper {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

a {
    text-decoration: none;
    color: #fff;
}

.center {
    width: 100%;
    padding-left: calc(50% - 573px);
    padding-right: calc(50% - 573px);
}

.main {
    display: block;
}

.hidden {
    display: none;
}

.header__bg {
    border-radius: 10px 10px 0 0;
    background: linear-gradient(180deg,
    rgba(255, 255, 255, 0.02) 0%,
    rgba(255, 255, 255, 0.04) 10%);
    /* opacity: 0.1; */
    backdrop-filter: blur(100px);
}

.header {
    margin-bottom: 160px;
}

.nav__links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    list-style-type: none;
}


.header__link {
    display: flex;
    font-size: 16px;
    font-weight: 600;
    padding: 39px 10px;
    border-bottom: 2px solid transparent;
    transition: all 0.3s;
}

.nav__link:hover .header__link {
    color: #3A68B8;
    transform: translateY(3px);
    border-bottom: 2px solid #3A68B8;
}

.top__bg {
    border-radius: 10px;
    background: linear-gradient(180deg,
    rgba(255, 255, 255, 0.04) 0%,
    rgba(255, 255, 255, 0.04) 10%);
    /* opacity: 0.1; */
    backdrop-filter: blur(100px);
}

.top {
    margin-bottom: 157px;
}

.top__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 192px;
    margin-right: 2%;
    margin-left: 2%;
}

.top__left {
    width: 59%;
    display: flex;
    flex-direction: column;
}

.top__subtitle {
    color: #3A68B8;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.top__title {
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: 135%;
    margin-bottom: 43px;
}

.top__desc {
    width: 97%;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    opacity: 0.7;
    margin-bottom: 66px;
}

.top__buttons {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.button__link {
    padding: 15px 30px;
    background-color: #3A68B8;
    border-radius: 5px;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: all 0.3s;
}

.button__link:hover {
    color: #3A68B8;
    background-color: #fff;
}

.fa-play {
    margin-right: 10px;
}

.top__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
}

.top__logo {
    display: flex;
    justify-content: space-between;
    padding-bottom: 99px;
    margin-right: 2%;
    margin-left: 2%;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 264px;
    margin-right: 2%;
    margin-left: 2%;
}

.about__left {
    width: 51%;
    display: flex;
    justify-content: center;
}

.about__left img {
    width: 100%;
}

.about__right {
    width: 42%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.about__subtitle {
    font-size: 40px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 30px;
}

.about__text {
    width: 95%;
    font-size: 16px;
    font-weight: 600;
    line-height: 160%;
    opacity: 0.7;
    margin-bottom: 65px;
}

.about__link {
    font-size: 16px;
    font-weight: 600;
}


.services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 243px;
    margin-right: 2%;
    margin-left: 2%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    line-height: 125%;
    border-radius: 10px;
    background: #132035;
    padding: 30px;
}

.card-big {
    grid-area: 2 / 1 / 4 / 3;
}

.card__subtitle {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    line-height: 125%;
    opacity: 0.7;
}

.card-big__subtitle {
    padding-top: 30px;
    margin-bottom: 30px;
    opacity: 0.7;
}

.card__text {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 160%;
    opacity: 0.7;
}


.blog {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 220px;
    margin-right: 2%;
    margin-left: 2%;
}

.blog__left {
    width: 47%;
}

.blog__right {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.blog__subtitle {
    font-size: 40px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 40px;
}

.blog__text {
    width: 83%;
    font-size: 16px;
    font-weight: 600;
    line-height: 160%;
    opacity: 0.7;
    margin-bottom: 20px;
}

.footer__bg {
    border-radius: 10px;
    background: linear-gradient(180deg,
    rgba(255, 255, 255, 0.01) 0%,
    rgba(255, 255, 255, 0.02) 10%);
    backdrop-filter: blur(100px);
}

.footer {
    height: 200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 46px;
    margin-right: 2%;
    margin-left: 2%;
}

.footer__block {
    display: flex;
    flex-direction: column;
}

.icon {
    width: 15px;
}

.footer__subtitle {
    font-size: 16px;
    font-weight: 500;
    margin-top: 44px;
    margin-bottom: 32px;
}

.footer__text-italic {
    width: 261px;
    font-size: 14px;
    font-style: italic;
    font-weight: 100;
    opacity: 0.6;
}

.footer__link {
    color: #FFF;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 22px;
    transition: all 0.3s;
}

.footer__link:hover {
    color: #3A68B8;
}

.footer__link:hover path {
    stroke: #3A68B8;
}

.footer__link:hover .fa-envelope-o {
    color: #3A68B8;
}

.social {
    width: 27%;
    display: flex;
    justify-content: space-between;
}

.on-top-btn {
    display: block;
    position: fixed;
    z-index: 11;
    bottom: 20px;
    right: 20px;
    padding: 20px;
    border-radius: 5px;
    color: #fff;
    background-color: #3A68B8;
}

.on-top-btn:hover {
    filter: brightness(1.3);
}


/*-------------------------------------------------------------*/

@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 376px);
        padding-right: calc(50% - 376px);
    }

    .top {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .top__subtitle {
        font-size: 16px;
    }

    .top__title {
        font-size: 48px;
    }

    .top__content {
        flex-direction: column;
        align-items: center;
    }

    .top__left {
        width: 82%;
        margin-bottom: 128px;
    }

    .top__right {
        width: 53%;
    }

    .top__logo {
        width: 72%;
        flex-wrap: wrap;
        justify-content: center;
        gap: 32px;
    }

    .about {
        flex-direction: column;
    }

    .about__left {
        width: 79%;
        margin-bottom: 68px;
    }

    .about__right {
        width: 70%;
    }

    .about__text {
        width: 91%;
    }

    .services {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center
    }

    .card {
        max-width: 362px;
    }

    .card-hidden {
        display: none;
    }

    .blog {
        flex-direction: column;
    }

    .blog__left {
        width: 70%;
        margin-bottom: 64px;
    }

    .blog__text {
        width: 84%;
    }

    .blog__right {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .footer {
        min-height: 400px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .center {
        padding-left: calc(50% - 178px);
        padding-right: calc(50% - 178px);
    }

    .header {
        margin-bottom: 64px;
    }

    .nav {
        display: flex;
        justify-content: center;
    }

    .nav__links {
        width: 76%;
    }

    .header__link {
        font-size: 14px;
        padding: 22px 0;
    }

    .top {
        margin-bottom: 96px;
    }

    .top__content {
        margin-bottom: 128px;
    }

    .top__left {
        width: 100%;
        align-items: center;
    }

    .top__subtitle {
        font-size: 14px;
        text-align: center;
        margin-bottom: 16px;
    }

    .top__title {
        font-size: 28px;
        text-align: center;
        margin-bottom: 64px;
    }

    .top__desc {
        text-align: center;
        margin-bottom: 54px;
    }

    .top__buttons {
        flex-wrap: wrap;
        justify-content: center;
    }

    .top__right {
        justify-content: center;
    }

    .about {
        margin-bottom: 96px;
    }

    .about__left {
        width: 100%;
    }

    .about__subtitle {
        font-size: 24px;
        text-align: center;
        margin-bottom: 16px;
    }

    .about__right {
        width: 100%;
        align-items: center;
    }

    .about__text {
        width: 100%;
        text-align: center;
        margin-bottom: 16px;
    }

    .services {
        gap: 32px;
        margin-bottom: 96px;
    }

    .blog {
        margin-bottom: 96px;
    }

    .blog__left {
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 16px;
    }

    .blog__subtitle {
        font-size: 24px;
        text-align: center;
        margin-bottom: 16px;
    }

    .blog__text {
        width: 100%;
        text-align: center;
        margin-bottom: 16px;
    }

    .footer__bg {
        display: flex;
        justify-content: center;
    }

    .footer {
        width: 90%;
        min-height: 604px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .item-up {
        grid-row: 1/2;
        margin-top: 113px;
    }

    .footer__subtitle {
        text-align: center;
        margin-top: 0;
    }

    .item-center {
        align-items: center;
    }
}